site_name: WEGA-project
site_url: https://wega-project.github.io/wiki/
repo_url: https://github.com/WEGA-project/wiki
theme:
  # features:
  #   - header.autohide
  name: material
  favicon: "assets/favicon.ico"
  palette:
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
      primary: green
      accent: blue

    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
      primary: green
      accent: teal
  font:
    text: Ubuntu
  icon:
    logo: material/cloud
markdown_extensions:
  - attr_list
  - md_in_html
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - tables
  - def_list
  - footnotes

plugins:
  - search:
      lang: ru
  - glightbox:
      touchNavigation: true
      loop: false
      effect: zoom
      width: 90%
      height: 80%
      zoomable: true
      draggable: true
      auto_caption: true
      caption_position: bottom
      background: rgba(0, 0, 0, 0.9)
      shadow: true
  - awesome-pages
  - img2fig
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/WEGA-project
    - icon: fontawesome/brands/telegram
      link: https://t.me/WEGA_SERVER
extra_css:
  - stylesheets/extra.css
